/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Author     : Timur
*/

body{
    width: 96%;
    margin-left: 2%;
}
header{
    height: 110px;
    border-radius: 5px;
    background: #fff4e5;
    border: 1px solid #FFB659 !important;
}
#top-image{
    height: 110px;
    width: 210px;
    position: absolute;
    left: 5%;
}
#user-panel{
    position: absolute;
    top: 20px;
    right: 5%;
    padding: 10px;
    background: #9999ff;
    border-radius: 5px;
}
#user-panel img{
    width: 25px;
    height: 25px;
}
#main{
    margin-top: 3px;
}
#main .leftAside{
    float: left;
    position: relative;
    width: 250px;
    background: #ccccff;
    border-radius: 5px;
    height: 100%;
}
#main .leftAside p{
    width: 96%;
    margin-left: 2%;
    text-align: justify;
}
#main .leftAside h2{
    margin: 0px;
    margin-left: 2%;
    margin-top: 2%;
    width: 96%;
    padding: 5px 0px 5px 0px;
    border-radius: 5px 5px 0px 0px;
    background: #76a5fc;
    text-align: center;
}
#main .leftAside ul{
    margin: 0px;
    margin-left: 2%;
    margin-bottom: 2%;
    padding: 0px;
    width: 96%;
    list-style: none;
}
#main .leftAside ul li{
    margin: 0px;
    cursor: pointer;
    background: #76befc;
    padding: 7px 5px;
    border: 1px solid #FFB659;
    border-bottom: none;
}
#main .leftAside ul li:hover{
    -moz-transition: all 1s linear 0s;
    -webkit-transition: all 1s linear 0s;
    -o-transition: all 1s linear 0s;
    transition: all 1s linear 0s;
    background: #cce6fc;
    padding-left: 10%;
}
#main .leftAside ul li:first-child{
    
}
#main .leftAside ul li:last-child{
    border-bottom: 1px solid #6666ff;
    border-radius: 0px 0px 5px 5px;
}
#main .leftAside a{
    text-decoration: none;
    padding: 3px 2px;
}
#main drug{
    margin-left: 260px;
    margin-bottom: 5px;
    background: #80abdb;
    border-radius: 5px;
}
#main drug h1{
    font-size: 2em;
    padding: 3px 5px;
    margin: 0px;
    border-radius: 5px 5px 0px 0px;
}
#main drug .text-drug{
    padding: 5px;
    font-size: 15px;
    background: #cce6fc;
}
#main drug .text-drug label{
   margin-right: 10px;
}
#main drug .fotter-drug{
    height: 23px;
    background: #8babce;
    border-radius: 0px 0px 5px 5px;
    padding: 3px;
}
#main drug .date-drug, .read{
    float: right;
    margin-left: 10px;
}
footer{
    height: 80px;
    border-radius: 0px 0px 5px 5px;
    vertical-align: central;
    background: #FFF4E5;
    border: 1px solid #FFB659 !important;
}
footer div{
    padding-top: 35px;
    font-weight: bold;
    padding-left: 10px;
}
footer span {
    margin-right: 15px;
}

#main horList{
    display:flex;
    float: left;
    position: relative;
    /*background: #ccccff;*/
    border-radius: 5px;
}
#main .horList p{
    width: 96%;
    margin-left: 2%;
    text-align: justify;
}
#main .horList h2{
    margin: 0px;
    margin-left: 2%;
    margin-top: 2%;
    width: 96%;
    padding: 5px 0px 5px 0px;
    border-radius: 5px 5px 0px 0px;
    background: #76a5fc;
    text-align: center;
}

#main .horList ul{
    margin-left: 200px;
    margin-right: 200px;
    width: auto;
    font-family: 'Arial',sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center; /*space-between;*/
    align-items: center;
    position: relative;
    padding: 0 .9375rem;
    text-align: center;
}
#main .horList ul li{
    display: inline; /* Отображать как строчный элемент */
    margin: 0px;
    width: 150px;
    cursor: pointer;
    background: #FFF4E5;
    padding: 7px 5px;
    border: 1px solid #FFB659;
    border-bottom: 1px solid #FFB659;
    border-radius: 0px 0px 0px 0px;
}

#main .horList a{
    text-decoration: none;
    padding: 3px 2px;
}

#main .horList ul li:first-child{
    border-radius: 13px 0px 0px 13px;
}
#main .horList ul li:last-child{
    border-radius: 0px 13px 13px 0px;
}